<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Plot</title>
		<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.css" type="text/css" />
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.js"></script>
	</head>
	<body>
		<div>
  			<h1>Plot</h1>
		</div>

    <form id='back_button' method='post' action='index'>
      <p>
      <input type='submit' value='back' />
      </p>
    </form>
    {{ div | safe }}
    {{ script | safe }}
  </body>
</html>
