<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sunny Spot</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="/static/css/agency.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->


</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Sunny Spot</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#visualization">Visualization</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#recommendation">Recommendation</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#method">Under the Hood</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Sunny Spot</div>
                <div class="intro-lead-in">Geographic Assessment of Solar Business Potential
                <p>&nbsp</p>
                <p>&nbsp</p>
                </div>
                <a href="#about" class="page-scroll btn btn-xl">Learn More</a>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Target the Right Locations for Your Solar Business!</h2>
                    <h3 class="section-subheading text-muted">Where is the best place to start or expand your solar business? <br>Or, what motivates customers to go solar?</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Electricity Cost</h4>
                    <p class="text-muted">Reduce expensive electricity bill</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Rooftop Suitability</h4>
                    <p class="section-subheading text-muted">Rooftops with efficient solar energy generation.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Income Level</h4>
                    <p class="text-muted">Able to afford up-front solar installation costs.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gift fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Incentive</h4>
                    <p class="text-muted">Tax credits and local government incentives.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                <p>&nbsp</p>
                <p>&nbsp</p>
                <a href="#visualization" class="page-scroll btn btn-xl">Learn More</a>
                <p>&nbsp</p>
                </div>            
            </div>
            
        </div>
    </section>

    <!-- visualization Section -->
    <section id="visualization" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Geospatial Variations of the Selected Factors</h2>
                    <h3 class="section-subheading text-muted">Click on the Maps for More Details</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 visualization-item">
                    <div class="visualization-caption">
                        <h4>Electricity Cost</h4>
                        <p class="text-muted">Average Electricity Rate by Zipcode</p>
                    </div>
                    <a href="#portfolioModal1" class="visualization-link" data-toggle="modal">
                        <div class="visualization-hover">
                            <div class="visualization-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/static/img/visualization/utility_byzip.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-md-6 col-sm-12 visualization-item">
                    <div class="visualization-caption">
                        <h4>Suitable Rooftops</h4>
                        <p class="text-muted">Total Suitable Rooftop Areas by Zipcode</p>
                    </div>
                    <a href="#portfolioModal2" class="visualization-link" data-toggle="modal">
                        <div class="visualization-hover">
                            <div class="visualization-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/static/img/visualization/roof_byzip.png" class="img-responsive" alt="">
                    </a>    
                </div>
                <div class="col-md-6 col-sm-12 visualization-item">
                    <div class="visualization-caption">
                        <h4>Income Level</h4>
                        <p class="text-muted">Annual Income by Zipcode</p>
                    </div>
                    <a href="#portfolioModal3" class="visualization-link" data-toggle="modal">
                        <div class="visualization-hover">
                            <div class="visualization-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/static/img/visualization/income_byzip.png" class="img-responsive" alt="">
                    </a>  
                </div>
                <div class="col-md-6 col-sm-12 visualization-item">
                    <div class="visualization-caption">
                        <h4>Incentives</h4>
                        <p class="text-muted">Number of Policies by State</p>
                    </div>
                    <a href="#portfolioModal4" class="visualization-link" data-toggle="modal">
                        <div class="visualization-hover">
                            <div class="visualization-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/static/img/visualization/incentive.png" class="img-responsive" alt="">
                    </a>  
                </div>
            </div>
        </div>
    </section>

    <!-- Recommendation Section -->
    <section id="recommendation" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Recommendations</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="team-member">
                      <p>&nbsp</p>
                      <iframe width="900" height="550" frameborder="0" scrolling="no" src="https://plot.ly/~yanfei-wu/20.embed"></iframe>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="team-member">
                      <iframe width="900" height="550" frameborder="0" scrolling="no" src="https://plot.ly/~yanfei-wu/24.embed"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Method Section -->
    <section id="method">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Under the Hood</h2>
                    <h3 class="section-subheading text-muted">How the Recommendations Are Made</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <h4>Data</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Data Source</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">1. OpenPV Project by NREL
                                    <br>2. PV-Suitable Rooftop Resources by NREL 
                                    <br>3. Utility Rate Database by OpenEI
                                    <br>4. Demographic Profile Dataset by Census</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Fit</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class='subheading'>Model</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">1. Linear regression model 
                                    <br>2. Most importance feature: Electricity Rate</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4>Recommend</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Result</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">1. Predict numbers of solar installation 
                                    <br>2. Rank different places</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <!-- Contact Section -->
    <section id="contact" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact</h2>
                    <h3 class="section-subheading text-muted">Please feel free to contact me if you have any feedbacks or questions.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="team-member">
                    <h3 section-subheading>Yanfei Wu</h3>
                        <p class="text-muted">PhD in Materials Science and Engineering 
                          <br>Email: <a href="mailto:yanfei.wu@mg.thedataincubator.com">yanfei.wu@mg.thedataincubator.com</a>
                          <br>Phone: 612-381-4292</p>
                        <div>
                          <ul class="list-inline banner-social-buttons">
                          <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                          </li>
                          <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
                          </li>
                          </ul>
                        </div>
                </div>
                </div>
            </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="copyright">Copyright &copy; Yanfei Wu 2017.</span>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                    

                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Electricity Cost</h2>
                                <p class="item-intro text-muted">People want ot cut down expensive electricity bill and want to protect themselves against unpredicted electricity rate rise. This can be one of the biggest motivations for people to choose solar energy.</p>
                                <div class="row">
                                   <div class="col-lg-12 text-center">
                                   <ul class="list-inline">
                                   <li><a href="#utility_bystate"><font size = 4>Overview By State</font></a></li>
                                   <li><a href="#utility_topcity"><font size = 4>Top Cities</font></a></li>
                                   </ul>
                                </div>
                                </div>
                                <section id="utility_bystate">
                                    <iframe width="780" height="550" frameborder="1" scrolling="yes" src="https://plot.ly/~yanfei-wu/10.embed" link=false logo=false></iframe>
                                </section>
                                <section id="utility_topcity">
                                    <iframe width="780" height="550" frameborder="1" scrolling="yes" src="https://plot.ly/~yanfei-wu/4.embed" link=false logo=false></iframe>
                                </section>
                                <p><strong></strong></p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Suitable Rooftops</h2>
                                <p class="item-intro text-muted">The rooftops have to meet certain criteria for efficient solar generation, for example, the orientation, titlt of the roof top, the size of continuous roof space, and the minimum length of daily sun light.</p>
                                <div class="row">
                                   <div class="col-lg-12 text-center">
                                   <ul class="list-inline">
                                   <li><a href="#roof_bystate"><font size = 4>Overview By State</font></a></li>
                                   <li><a href="#roof_topcity"><font size = 4>Top Cities</font></a></li>
                                   </ul>
                                </div>
                                </div>
                                <section id="roof_bystate">
                                    <iframe width="780" height="550" frameborder="1" scrolling="yes" src="https://plot.ly/~yanfei-wu/12.embed" link=false logo=false></iframe>
                                </section>
                                <section id="roof_topcity">
                                    <iframe width="780" height="550" frameborder="1" scrolling="yes" src="https://plot.ly/~yanfei-wu/6.embed" link=false logo=false></iframe>
                                </section>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Income Level</h2>
                                   <p class="item-intro text-muted">Although the price of solar has dropped significantly, the affordability is still a concern. In particularly, for people with low income and no financing, the expensive upfront cost for solar can be a deal killer.</p>
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                    <ul class="list-inline">
                                        <li><a href="#income_bystate"><font size = 4>Overview By State</font></a></li>
                                        <li><a href="#income_topcity"><font size = 4>Top Cities</font></a></li>
                                    </ul>
                                    </div>
                                    <div>
                                        <section id="income_bystate">
                                            <iframe width="780" height="550" frameborder="1" scrolling="yes" src="https://plot.ly/~yanfei-wu/14.embed" link=false logo=false></iframe>
                                        </section>
                                        <section id="income_topcity">
                                            <iframe width="780" height="550" frameborder="1" scrolling="yes" src="https://plot.ly/~yanfei-wu/26.embed" link=false logo=false></iframe>
                                        </section>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Policies and Incentives</h2>
                                <p class="item-intro text-muted">People are more likely to go solar if there are incentives such as tax credits for solar installation, or if there is policy to exempt them from paying property tax for the solar related home value increase.</p>
                                <div class="row">
                                   <div class="col-lg-12 text-center">
                                   <ul class="list-inline">
                                   <li><a href="#incentive_bystate"><font size = 4>Overview By State</font></a></li>
                                   </ul>
                                </div>
                                </div>
                                <section id="incentive_bystate">   
                                   <iframe width="780" height="550" frameborder="1" scrolling="yes" src="https://plot.ly/~yanfei-wu/16.embed" link=false logo=false></iframe>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <!-- jQuery -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

    <!-- Contact Form JavaScript -->
    <script src="/static/js/jqBootstrapValidation.js"></script>
    <script src="/static/js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="/static/js/agency.min.js"></script>

</body>

</html>
